body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f4f7f6; /*  warna background */
}

a {
  color: #00b7ff;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
